PORT=5000
MONGO_URI=mongodb://biswaschayan613_db_user:chayan123@ac-fjhr3nr-shard-00-00.cnlxee6.mongodb.net:27017,ac-fjhr3nr-shard-00-01.cnlxee6.mongodb.net:27017,ac-fjhr3nr-shard-00-02.cnlxee6.mongodb.net:27017/?ssl=true&replicaSet=atlas-12lziu-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=restaurant-os-super-secret-key-change-in-production
NODE_ENV=development
